body {
  background-color: black;
  margin: 0;
}

.box {
  width: 350px;
  background-color: #308dc0;
  border: 1px solid #e75551;
  margin: 20px;
  margin-bottom: 40px;
  box-sizing: border-box;
  padding: 10px;
}

.orange_box {
  background-color: #ffa500;
  border: 1px solid #e75551;
  padding: 10px;
}

.grey_box {
  background-color: #ddd;
  border: 1px solid #e75551;
  padding: 10px;
}
