body {
  background-color: black;
  margin: 0;
}

.box-pad {
  padding: 10px;
}

.outer-box {
  width: 350px;
  background-color: #308dc0;
  border: 1px solid #e75551;
  margin: 20px 20px 40px;
  box-sizing: border-box;
}

.middle-box {
  background-color: #ffa500;
  border: 1px solid #e75551;
}

.internal-box {
  background-color: #ddd;
  border: 1px solid #e75551;
}
